<header>
    <a href="http://viaplay.se">
        <img src="http://assets.viaplay.tv/frontend-2015113001/images/header-logo-large.png" alt="Viaplay Start"
             width="144" height="35">
    </a>
</header>

{{result}}

<footer>
    <div class="logo">
        <a href="http://viaplay.se"></a>
    </div>
</footer>
