body {
  font: 14px "Lucida Console", Helvetica, Arial, sans-serif;
  margin: 0;

  header {
    background: #212d33;
    height: 66px;
    border-top: 1px solid #212d33;

    a {
      margin: 15px 8rem;
      display: block;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .embed {
    display: inline-block;
    margin: 4rem 0 8rem 8rem;
  }

  .info {
    display: inline-block;
    margin: 4rem 8rem;

    h1 {
      font-size: 48px;
      font-weight: bold;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }

    h3 {
      font-size: 24px;
      font-weight: lighter;
      color: #203c31;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }

    .duration {
      font-size: 24px;
      font-weight: lighter;
      color: #203c31;
    }

    .synopsis {
      color: #203c31;
      text-shadow: 0 0.5px grey;
    }
  }

  footer {
    background-color: #f9f9fb;

    .logo {
      display: inline-block;
      vertical-align: text-top;
      a {
        display: inline-block;
        margin: 40px 8rem 0 8rem;
        width: 80px;
        height: 90px;
        background: url(http://assets.viaplay.tv/frontend-2015113001/images/footer_logo_on_light_large.png) no-repeat top left;
        background-size: contain;
      }
    }
    nav {
      display: inline-block;

      .categories {
        display: inline-block;
        padding-right: 6rem;
        vertical-align: text-top;

        h4 {
          display: inline-block;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        ul {
          padding: 0;
          max-height: 20%;
          li {
            list-style: none;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}
